:root {
    --background-color: var(--neonwhite3);
    --neon-shadow: none;
    --neon-border: none;
    --black: #000000;
    --neonwhite: #ffffff;
    --neonwhite2: #ffffff60;
    --neonwhite3: #ffffff10;
    --neonyellow: #fffd63;
    --neonyellow2: #fffd6380;
    --neongreen: #35ff7d;
    --neongreen2: #35ff7d80;
    --neonblue: #21b5ff;
    --neonblue2: #21b5ff80;
    --neonpurple: #b05eff;
    --neonpurple2: #b05eff80;
    --neonpink: #ff19c9;
    --neonpink2: #ff19c980;
    --neonred: #ff1c6a;
    --neonred2: #ff1c6a80;
    --neonorange: #ff954a;
    --neonorange2: #ff954a80;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /*background: url("images/background.jpg") no-repeat;*/
    /*background-size: cover;*/
}

body {
    background-color: var(--black);
    text-align: center;
    padding-top: 8%;
    margin-bottom: 100rem;
}

.main {
    width: 450px;
    height: 450px;
    margin: 10px auto;
    border-radius: 15px;
    border: 2px solid var(--neonblue);
    box-shadow: 0 0 20px var(--neonblue);
}
.title {
    color: var(--neonblue);
    text-shadow: 0px 0px 20px var(--neonblue);
}

.hide {
    display: none;
}

.result {
    color: deepskyblue;
    font-size: 1.2em;
    margin: 10px auto;
}

.container {
    border-collapse: collapse;
    display: grid;
    grid-template-columns:  1fr 1fr 1fr;
    grid-template-rows: repeat(3, [col-start] 150px [col-end]);
    border-radius: 15px;
}

.container3 {
    padding: 20px;
    align-items: center;
}

.container2 {
    padding: 20px;
    align-items: center;
}

.wrapper {
    overflow: auto;
    width: 410px;
    border-radius: 8px 8px 8px 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.result-table {
    border-collapse: collapse !important;
    font-family: sans-serif;
    min-width: 410px;
}

.container2 th,
.container2 td {
    padding: 7px 15px;
    text-align: center;
    color: white;
}

.container2 thead {
    background-color: deepskyblue;
    color: white;
}

tbody tr:last-child {
    background-color: deepskyblue;
    color: white;
}

.container2 tbody tr:nth-of-type(even) {
    background-color: rgba(0, 191, 255, 0.5);
}
.target-bg{
    --background-color: var(--neongreen);
    --neon-shadow: 0 0 50px var(--neongreen);
}

.col {
    background-color: var(--background-color);
    box-shadow: var(--neon-shadow);
    position: relative;
    margin: 15px;
    color: var(--neonblue);
    transition: 0.5s;
    padding: 20px 20px;
    border-radius: 30px;
    /*overflow: hidden;*/
}
.col:hover {
    background-color: var(--neonwhite3);
    color: var(--black);
    box-shadow: 0 0 30px var(--neonwhite);
    transition-delay: 0.2s;
}

.col:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 15px;
    height: 15px;
    border-top: 2px solid var(--neonblue);
    border-left: 2px solid var(--neonblue);
    transition: 0.5s;
    border-radius: 3px;
}
.col:hover:before {
    width: 90px;
    height: 90px;
}

.col:after {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    width: 15px;
    height: 15px;
    border-bottom: 2px solid var(--neonblue);
    border-right: 2px solid var(--neonblue);
    transition: 0.5s;
    border-radius: 3px;
}

.button {
    margin: 20px;
}